* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #060a1f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#conatiner {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
img {
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

#watch {
  position: absolute;
  width: min-content;
  padding: 100px;
  margin-left: 200px;
  z-index: 3;
}

p {
  font-size: 50px;
  text-align: center;
}
#name {
  margin-bottom: 50px;
}

#hr,
#min,
#sec {
  font-size: 80px;
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
button {
  font-weight: 600;
  font-size: 17px;
  width: 100px;
  height: 50px;
  color: #f8defe;
  background: #6c5ce7;
  border: 2.5px solid #060a1f;
  box-shadow: 5px 5px 5px#060a1f;
  border-radius: 5px;
  margin-top: 50px;
  letter-spacing: 2px;
  outline: none;
}
button:hover {
  background: transparent;
  color: #060a1f;
  font-weight: 700;
}
